table.tableblock {
    border-collapse: separate;
    margin-bottom: 25px;
    max-width: 100%;
}
table.tableblock caption {
    padding-bottom: 5px;
}
table.tableblock td {
    padding-left: 3px;
    padding-right: 5px;
}
table.spread {
    max-width: 100%;
}
table.tableblock, th.tableblock, td.tableblock {
    border: 0 solid #dedede;
}
table.grid-all th.tableblock, table.grid-all td.tableblock {
    border-width: 0 1px 1px 0;
    background-color: rgb(243, 243, 243);
}
table.grid-all tfoot > tr > th.tableblock, table.grid-all tfoot > tr > td.tableblock {
    border-width: 1px 1px 0 0;
}
table.grid-cols th.tableblock, table.grid-cols td.tableblock {
    border-width: 0 1px 0 0;
}
table.grid-all * > tr > .tableblock:last-child, table.grid-cols * > tr > .tableblock:last-child {
    border-right-width: 0;
}
table.grid-rows th.tableblock, table.grid-rows td.tableblock {
    border-width: 0 0 1px;
}
table.grid-all tbody > tr:last-child > th.tableblock, table.grid-all tbody > tr:last-child > td.tableblock, table.grid-all thead:last-child > tr > th.tableblock, table.grid-rows tbody > tr:last-child > th.tableblock, table.grid-rows tbody > tr:last-child > td.tableblock, table.grid-rows thead:last-child > tr > th.tableblock {
    border-bottom-width: 0;
}
table.grid-rows tfoot > tr > th.tableblock, table.grid-rows tfoot > tr > td.tableblock {
    border-width: 1px 0 0;
}
table.frame-all {
    border-width: 1px;
}
table.frame-sides {
    border-width: 0 1px;
}
table.frame-topbot {
    border-width: 1px 0;
}
table {
    empty-cells: hide;
    font-size: 14px;
}