<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.ServiceFabric" version="5.7.198" targetFramework="net461" />
  <package id="Microsoft.ServiceFabric.Data" version="2.7.198" targetFramework="net461" />
  <package id="Microsoft.ServiceFabric.Diagnostics.Internal" version="2.7.198" targetFramework="net461" />
  <package id="Microsoft.ServiceFabric.Services" version="2.7.198" targetFramework="net461" />
</packages>