# Starter pipeline
# Start with a minimal pipeline that you can customize to build and deploy your code.
# Add steps that build, run tests, deploy, and more:
# https://aka.ms/yaml

trigger:
  branches:
    include:
    - master
  paths:
    exclude:
    - ./*.md
    - ./*.yml
    - doc

pool:
  vmImage: 'windows-2022'

steps:
- task: PowerShell@2
  inputs:
    filePath: 'tools/build.ps1'
