<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="GraphEngine.Core" version="1.0.8967" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="6.0.8" targetFramework="net452" />
  <package id="NUnit" version="3.6.1" targetFramework="net461" />
  <package id="NUnitLite" version="3.6.1" targetFramework="net461" />
</packages>

