<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="GraphEngine.Core" version="1.0.8482" targetFramework="net462" />
  <package id="Microsoft.ServiceFabric" version="5.7.198" targetFramework="net462" />
  <package id="Microsoft.ServiceFabric.Data" version="2.7.198" targetFramework="net462" />
  <package id="Microsoft.ServiceFabric.Diagnostics.Internal" version="2.7.198" targetFramework="net462" />
  <package id="Microsoft.ServiceFabric.Services" version="2.7.198" targetFramework="net462" />
  <package id="Newtonsoft.Json" version="10.0.3" targetFramework="net462" />
</packages>