<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="GraphEngine.Core" version="1.0.9083" targetFramework="net461" />
  <package id="GraphEngine.DynamicCluster" version="1.0.9083" targetFramework="net461" />
  <package id="GraphEngine.ServiceFabric.Infrastructure" version="1.0.9083" targetFramework="net461" />
  <package id="Microsoft.ServiceFabric" version="6.0.232" targetFramework="net461" />
  <package id="Microsoft.ServiceFabric.Data" version="2.8.232" targetFramework="net461" />
  <package id="Microsoft.ServiceFabric.Diagnostics.Internal" version="2.8.232" targetFramework="net461" />
  <package id="Microsoft.ServiceFabric.Services" version="2.8.232" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="8.0.2" targetFramework="net461" />
  <package id="Nito.AsyncEx.Tasks" version="1.1.0" targetFramework="net461" />
  <package id="Nito.Disposables" version="1.0.0" targetFramework="net461" />
  <package id="System.Collections.Immutable" version="1.2.0" targetFramework="net461" />
  <package id="System.IO.Compression.ZipFile" version="4.3.0" targetFramework="net461" />
  <package id="System.Runtime.Numerics" version="4.3.0" targetFramework="net461" />
  <package id="System.ValueTuple" version="4.4.0" targetFramework="net461" />
</packages>